@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    margin: 0;
    padding: 0;
    background: #48515A;
}

div,
p,
a,
li,
td {
    -webkit-text-size-adjust: none;
}

.ReadMsgBody {
    width: 100%;
    background-color: #ffffff;
}

.ExternalClass {
    width: 100%;
    background-color: #ffffff;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html {
    width: 100%;
}

p {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.visibleMobile {
    display: none;
}

.hiddenMobile {
    display: block;
}

@media only screen and (max-width: 600px) {
    body {
        width: auto !important;
    }
    table[class=fullTable] {
        width: 100% !important;
        clear: both;
    }
    table[class=fullPadding] {
        width: 100% !important;
        clear: both;
    }
    table[class=col] {
        width: 45% !important;
    }
    .erase {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    table[class=fullTable] {
        width: 100% !important;
        clear: both;
    }
    table[class=fullPadding] {
        width: 85% !important;
        clear: both;
    }
    table[class=col] {
        width: 100% !important;
        clear: both;
    }
    table[class=col] td {
        text-align: left !important;
    }
    .erase {
        display: none;
        font-size: 0;
        max-height: 0;
        line-height: 0;
        padding: 0;
    }
    .visibleMobile {
        display: block !important;
    }
    .hiddenMobile {
        display: none !important;
    }
}